<div class="head">
    <div class="navigation">
        <img src="assets/images/logo.png" alt="">
        <nav>
            <a>About me</a>
            <a> Skill set</a>
            <a>My work</a>
        </nav>
    </div>
    <div class="content">
        <img src="assets/images/me.png" alt="">
        <div class="head-content-text">
            <div class="head-text">Hello! I am Bennet</div>
            <div class="head-text-big">Frontend</div>
            <div class="head-text-big">Developer</div>
        </div>
    </div>

</div>