@import '_variables.sass'

.head
    width: 100vw
    height: 100vh
    max-height: 100%
    max-width: 100%
    overflow: hidden
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(234,240,255,1) 100%)

.navigation
    img
        width: 64px
        height: 69px
    nav
        a
            font-size: 23px
            color: $base-color