<div class="head">
    <div class="background-ellipse">
        <img class="ellipse-big" src="assets/images/Ellipse.png" alt="bg">
    </div>
    <div class="navigation">
        <img src="assets/images/logo.png" alt="">
        <nav>
            <div><a name="About me">About me</a></div>
            <div><a name="Skill set">Skill set</a></div>
            <div><a name="My Work">My work</a></div>
        </nav>
    </div>
    <div class="content unselectable">
        <img src="assets/images/me.png" alt="">
        <div class="head-content-text">
            <div class="head-text">Hello! I am Bennet</div>
            <div class="head-text-big front">Frontend</div>
            <div class="head-text-big dev">Developer</div>
        </div>
    </div>
    <div class="scroll-container unselectable">
        <div>
            <div class="scroll-text">Scroll</div>
            <div class="scroll-line"></div>
        </div>
    </div>
</div>