@import '_variables.sass'

.head
    width: 100vw
    height: 100vh
    max-height: 1325px
    max-width: $max-w
    overflow: hidden //Elipse
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, #d7e2fe8a 100%)
    position: relative
.navigation
    z-index: 10
    position: absolute
    max-width: $max-w
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    top: 30px
    img
        margin-left: 100px
        width: auto
        height: 69px

    nav
        margin-right: 100px
        display: flex
        justify-content: space-between
        align-items: center
        div
            display: flex
            justify-content: flex-end
            width: 120px
            margin-left: 50px
            a
                text-decoration: none
                display: inline-block
                cursor: pointer
                font-size: 23px
                color: $base-color
                font-family: 'Montserrat', sans-serif

                &:hover
                    transition: all 225ms
                    font-weight: 700

.mobile-nav
    display: none
    margin-right: 100px
    img
        height: 40px
        width: auto

.content
    max-width: $max-w
    width: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    position: relative
    height: 100vh

    img
        z-index: 10
        position: absolute
        bottom: 0
        left: 90px
        height: calc( 100% - 150px )
        width: auto

    .head-content-text
        position: absolute
        right: 100px
        top: 30%
        .head-text
            z-index: 10
            color: $base-color
            font-size: 64px
            font-family: 'Montserrat', sans-serif

        .head-text-big
            color: $base-color
            font-family: 'Baloo Da 2', sans-serif
            text-transform: uppercase
            margin: -30px 0
        .front
            font-size: 128px
            font-weight: 800
        .dev
            margin: -80px 0
            font-size: 118px
            font-weight: 800

.background-ellipse
    position: relative
    max-height: 100vh
    width: 100%
.ellipse-big
    position: absolute
    top: -74px
    left: -199px
    width: 900px
    height: 900px

.scroll-container
    position: relative
    margin-top: 20px
    margin-right: 425px
    div
        display: flex
        flex-direction: column
        align-items: center
        position: absolute
        bottom: 0
        right: 0
        height: calc( 100vh - 750px )
        max-height: 400px
        .scroll-text
            text-transform: uppercase
            color: $base-color
            font-family: 'Montserrat', sans-serif
            font-size: 23px
            margin-right: -43px
        .scroll-line
            flex-grow: 1
            height: calc( 100% - 32px )
            width: 2px
            background-color: $base-color

.left-icon-container
    position: relative
    margin-right: 125px
    .icons-links
        position: absolute
        right: 0
        bottom: 100px
        display: flex
        flex-direction: column
        .icon-link
            cursor: pointer
            transition: 225ms
            position: relative
            width: 20px
            display: flex
            justify-content: flex-start
            &:hover
                margin-left: -10px
            img
                padding: 12.5px

/* Respnsive */

@media ( max-width: 1450px )
    .ellipse-big
        left: -300px

@media ( max-width: 1350px )
    .head-content-text
        .head-text
            font-size: 55px !important
        .front
            font-size: 108px !important
        .dev
            margin: -80px 0
            font-size: 100px !important

@media ( max-width: 1240px )
    .ellipse-big
        left: -400px
    .content
        img
            bottom: -200px !important
            height: calc( 100% - 250px ) !important

@media  ( max-width: 1150px )
    .navigation
        nav
            display: none
        .mobile-nav
            display: unset !important
    .ellipse-big
        width: 120vh !important
        height: auto !important
    .scroll-container
        display: none
    .head-content-text
        left: 100px !important
        top: 150px !important
        .head-text
            color: #fff !important
        .front
            color: #fff !important
        .dev
            color: #fff !important

@media  ( max-width: 890px )
    .left-icon-container
        display: none
    .ellipse-big
        top: -200px !important
        right: 100px !important
        left: unset !important
    .head-content-text
        .head-text
            font-size: 37px !important
        .front
            font-size: 73px !important
        .dev
            margin: -60px 0 !important
            font-size: 67px !important
    .content
        img
            height: calc( 100% - 150px ) !important
            margin-left: auto
            margin-right: auto
            left: 0
            right: 0 
            width: auto

@media  ( max-width: 750px )
    .head-content-text
        margin-left: -50px !important

    .navigation
        img
            margin-left: 50px !important
        nav
            display: none
        .mobile-nav
            display: unset
            margin-right: 50px !important
