<div class="footer">
    <div class="content">
        <div class="logo" ><a href="#head"><img class="unselectable" src="assets/images/logo.png" alt=""></a></div>
        <div class="name">© Bennet Witczak 2023</div>
        <div class="links">
            <a href="https://github.com/bwfront" target="_blank"><img src="assets/images/icons/links/github-white.png" alt="github"></a>
            <a href="#contact"><img src="assets/images/icons/links/mail-white.png" alt="mail"></a>
            <a href=""><img src="assets/images/icons/links/linkedin-white.png" alt="linkedin"></a>
        </div>
    </div>
    <a class="imprint" href="">Imprint</a>
</div>
