<div class="footer">
    <div class="content">
        <img class="unselectable" src="assets/images/logo.png" alt="">
        <div class="name">© Bennet Witczak 2023</div>
        <div class="links">
            <a href=""><img src="assets/images/icons/links/github-white.png" alt="github"></a>
            <a href=""><img src="assets/images/icons/links/linkedin-white.png" alt="linkedin"></a>
            <a href=""><img src="assets/images/icons/links/mail-white.png" alt="mail"></a>
        </div>
    </div>
    <a href="">Imprint</a>
</div>
