<div class="aboutme" id="aboutme">
    <div class="ellipse-con">
        <img class="ellipse-medium" src="assets/images/Ellipse.png" alt="bg">
        <img class="ellipse-small" src="assets/images/Ellipse.png" alt="bg">
    </div>
    <div class="aboutme-content">
        <div class="aboutme-heading unselectable">Let's work<br>together</div>
        <div class="aboutme-right">
            <div class="text unselectable">I'm really interested in using my front-end development skills to make useful
                things, and I'm always eager to learn more about how technology works. I want to keep learning new
                things to help people better and make a real difference.</div>
            <br>
            <div class="text text-second unselectable">If you need a developer to turn designs into functional
                realities, let's connect.</div>
            <a href="#contact" class="button">Send a message</a>
        </div>
    </div>
</div>