<div class="aboutme" id="aboutme">
    <div class="ellipse-con">
        <img class="ellipse-medium" src="assets/images/Ellipse.png" alt="bg">
        <img class="ellipse-small" src="assets/images/Ellipse.png" alt="bg">
    </div>
    <div class="aboutme-content">
        <div class="aboutme-heading unselectable">Let's work<br>together</div>
        <div class="aboutme-right">
            <div class="text unselectable">My journey in web development has been driven by a love for coding and an eagerness to
                tackle complex challenges. I'm now poised to advance my career further, seeking opportunities that
                will
                allow me to grow as a Junior Web Developer.</div>
                <br>
            <div class="text text-second unselectable">If you need a developer to turn designs into functional realities, let's connect.</div>
            <a href="#contact" class="button">Send a message</a>
        </div>
    </div>
</div>