@import '_variables'
@import 'class'

.contact
    position: relative
    margin: 0 100px
    padding-bottom: 400px
    .heading
        font-size: 90px
        font-weight: 800
        color: $base-color
        font-family: 'Baloo Da 2', sans-serif

.content
    display: flex
    justify-content: space-between

    margin: 40px 0

.text-con
    font-family: 'Montserrat', sans-serif
    max-width: 540px
    .text-heading
        font-size: 32px
        color: $base-color
        font-weight: 700
    .text
        font-size: 16px
        margin: 20px 0
    .text-footer
        color: $base-color
        span
            font-weight: 700

#contact-form
    position: absolute
    left: 50%
    width: calc( 50% - 55px)
    display: flex
    gap: 20px
    flex-direction: column

.checkbox
    display: flex
    justify-content: flex-start
    align-items: center
    width: 100%
    label
        display: flex
        align-items: center
        font-size: 14px
        font-family: 'Montserrat', sans-serif
        input, img
            margin-right: 10px

        a
            color: $base-color
            cursor: pointer
            margin: 0 5px
            &:hover
                text-decoration: underline

.form-group
    position: relative
    padding-top: 15px
    font-family: 'Montserrat', sans-serif

    input, textarea
        font-size: 16px
        width: calc( 100% - 50px )
        border: 1px solid $base-color
        padding: 15px 25px
        border-radius: 10px
        resize: none
        background-color: transparent
        transition: border-color 0.3s

    input:focus, textarea:focus
        border-color: #333

    input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label
        position: absolute !important
        top: 8px !important
        left: 15px
        font-size: 14px
        color: #333
        background-color: #ffffff
        padding: 0 2px

.floating-label label
    position: absolute
    top: calc( 50% - 3px )
    left: 25px
    font-size: 16px

    color: #aaa

    pointer-events: none
    transition: 0.3s ease all

.label-textarea
    top: 30px !important

.form-group
    input:focus::placeholder, textarea:focus::placeholder
        color: transparent

.button-send
    display: flex
    width: 100%
    justify-content: center
.button
    font-size: 23px
    width: 200px

.error-span
    font-size: 14px
    color: #e61c41
    font-family: 'Montserrat', sans-serif
    margin-top: -10px
