<div class="contact">
    <div class="heading">Contact</div>
    <div class="content">
        <div class="text-con">
            <div class="text-heading">Got a problem to solve?</div>
            <div class="text">
                Use this form to get in touch. Your thoughts and projects matter to me, and I'm ready to support them with my skills.
            </div>
            <div class="text-footer"> Need a Frontemd developer? <span>Contact Me!</span></div>
        </div>
        
        
        <div class="form">
            <form id="contact-form">
                <div class="form-group">
                  <input type="text" id="name" placeholder="Your name" required>
                </div>
                <div class="form-group">
                  <input type="email" id="email" placeholder="Your email" required>
                </div>
                <div class="form-group">
                  <textarea id="message" placeholder="Your message" rows="8" required></textarea>
                </div>
                <div class="form-group checkbox">
                  <input type="checkbox" id="privacy" name="privacy" required>
                  <label for="privacy">I've read the privacy policy and agree to the processing of my data as outlined.</label>
                </div>
                <button type="submit">Submit</button>
              </form>
        </div>
    </div>
</div>