body
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    overflow-x: hidden

.unselectable
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    