<div class="skillset" id="skillset">
    <div class="skillset-container">
        <div class="skillset-heading">Skill set</div>
        <div class="skills-con">
            <div>
            <div class="skill"><img src="assets/images/icons/skillset/angular.png" alt="Angular"><p>Angular</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/typescript.png" alt="TypeScript"><p>TypeScript</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/javascript.png" alt="JavaScript"><p>JavaScript</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/html.png" alt="HTML"><p>HTML</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/scrum.png" alt="Scrum"><p>Scrum</p></div>
            </div>
            <div>
            <div class="skill"><img src="assets/images/icons/skillset/css.png" alt="CSS"><p>CSS</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/firebase.png" alt="Firebase"><p>Firebase</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/git.png" alt="Git"><p>Git</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/api.png" alt="Rest-Api"><p>Rest-Api</p></div>
            <div class="skill"><img src="assets/images/icons/skillset/materialdesign.png" alt="Material Design"><p>Material<br>Design</p></div>
        </div>
        </div>
    </div>
</div>